ul {
	list-style-type: none;
	margin: 0;
    padding: 0;
    overflow: hidden;
}

li {
	float: right;
}

li a {
	display: block;
	padding: 12px;
}

div.image {
	width: 200px;
	border: 2px solid;
	margin: 50px;
	float: left;
}

